<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OAuth: Sample Application</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" th:href="@{style.css}" />
	</head>
	<body>
		<div class="container">
			<h1 class="center">OAuth Sample Application</h1>
			<div class="row">
				<div class="col-md-6">
					<form method="post">
						<h3>Index Client Application</h3>
						<p>
							This client application makes calls to the server
							component REST Endpoints
						</p>
						<h6><p th:text="${action}" /></h6>
						<p>
							OAuth functions to generate access token in server
							component
						</p>
            <!-- three legged oauth step 2 click this -->
            <a
              th:href="${auth_url}"
              class="btn-link three"
              >3 Legged OAuth</a
            >
            <!-- two legged auth step 1 this won't work i guess because it is not member specific? -->
						<input
							type="submit"
							name="two_legged_auth"
							class="btn-link"
							value="2 Legged OAuth"
						/>
						<p>OAuth token calls</p>
            <!-- token introspection step 1 -->
						<input
							type="submit"
							name="token_introspection"
							class="btn-link"
							value="Token Introspection"
						/>
            <!-- Refresh token step 1 This doesn't work because I never got a refresh token when it was supposed to be with the access token when first doing the 3 legged oauth -->
						<input
							type="submit"
							name="refresh_token"
							class="btn-link"
							value="Use Refresh Token"
						/>
						<p>
							Use access token stored in server to make REST calls
						</p>
            <!-- Get Profile step 1 this doesn't work -->
						<input
							type="submit"
							name="profile"
							class="btn-link"
							value="Get Profile"
						/>
					</form>
				</div>
				<div class="col-md-6">
					<h5>OUTPUT: JSON response from server component</h5>
					<div class="output" id="output">
						<p th:text="${output}" />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
